@import url("colors.css");

* {
  font-family: 'FreeSans';
  font-size: 14px;
  min-height: 0px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @surface0-alpha;
}

#backlight,
#battery,
#clock,
#custom-weather,
#memory,
#network,
#pulseaudio,
#tray,
#idle_inhibitor,
#window,
#workspaces {
  transition: all 0.2s ease-in-out;
  color: @text;
  background: @base-alpha;
  font-weight: 600;
  font-size: 12pt;
  padding: 0px 8px;
  margin: 0px 4px;
  border-radius: 0px 0px 10px 10px;
}

#workspaces button {
  transition: all 0.3s ease-in-out;
  min-width: 30px;
}

#workspaces button:hover {
  color: @red; 
  border: 0px;
}

#workspaces button.active {
  background: @surface0-alpha;
  min-width: 50px;
}

#network {
  color: @mauve;
}

#network.disconnected {
  color: @red;
}

#workspaces {
}

#workspaces {
  font-size: 18pt;
}

#workspaces button {
  color: @text;
}

#workspaces button.active {
  color: @peach;
}

#tray {
  margin-right: 3px;
}

#custom-weather {
  margin-right: 3px;

  color: @peach;
}

#pulseaudio {
  color: @sky;
}

#backlight {
  color: @maroon;
}

#battery {
  color: @blue;
}

#battery.charging, #battery.plugged {

}

#battery.critical:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#clock {
  color: @yellow;
}
