* {
    font-family: 'Fira Code';
    min-height: 0px;
}

window#waybar {
    background: transparent;
    color: #f2e5bc; /* light0_soft */
}

#clock, #custom-media, #battery, #cpu, #memory, #network, #pulseaudio, #tags, #tray {
    font-weight: 600;
    font-size: 12pt;
    border-radius: 0px 0px 8px 8px;
    padding: 0 5px;
    margin: 0 2px;
}

#tags {
    padding: 0px;
    margin: 0px;
    background: #427b58;
}

#tags button {
    color: #a89984;
}

#tags button.focused {
    color: #f2e5bc;
}

#custom-media {
    background: #af3a03;
}

#tray {
    background: #79740e; /* faded_green */
}

#network {
    background: #8f3f71; /* faded_purple */
}

#network.disconnected {
    background: #cc241d; /* neutral_red */
}

#pulseaudio {
    background: #076678; /* faded_blue */
}

#custom-playerctl {
}


#battery {
    background: #af3a03; /* faded_orange */
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    background: #427b58; /* faded_aqua */
}
