* {
    font-family: 'FiraCode Nerd Font';
    font-size: 12pt;
    min-height: 0px;
}

window#waybar {
    background: transparent;
}

#backlight,
#battery,
#clock,
#memory,
#network,
#pulseaudio,
#tray,
#workspaces {
    color: #cad3f5;
    background-color: rgba(54, 58, 79, 0.75); /* #363a4f */
    font-weight: 600;
    font-size: 12pt;
    padding: 0px 8px;
}

#network {
    color: #c6a0f6;
    border-radius: 0px 0px 12px 12px;
}

#network.disconnected {
    color: #ed8796;
}

#workspaces {
    border-radius: 0px 0px 12px 12px;
}

#workspaces button {
    color: #cad3f5;
}

#workspaces button.active {
    color: #f5a97f;
    text-decoration: underline;
}

#tray {
  margin: 0px 2px 0px 2px;
  border-radius: 0px 0px 12px 12px;
}

#backlight {
    color: #91d7e3;
    border-radius: 0px;
}

#pulseaudio {
    color: #f5a97f;
    border-radius: 0px 0px 0px 12px;
}

#battery {
    color: #b7bdf8;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
    color: #a6da95;
    margin-left: 0px;
    border-radius: 0px 0px 10px 0px;
}
