* {
    font-family: 'FiraCode Nerd Font';
    font-size: 12pt;
    min-height: 0px;
}

window#waybar {
    background: transparent;
}

#backlight,
#battery,
#clock,
#custom-media,
#memory,
#network,
#pulseaudio,
#tray,
#workspaces {
    color: #cad3f5;
    border-radius: 1rem;
    background-color: #363a4f;
    font-weight: 600;
    font-size: 12pt;
    padding: 0px 8px;
    margin: 2px 5px 0px 5px;
}

#workspaces {
}

#workspaces button {
    color: #cad3f5;
}

#workspaces button.active {
    background-color: #8aadf4;
    color: #363a4f;
}

#custom-media {
    color: #eed49f;
}

#tray {
}

#network {
    color: #c6a0f6;
    margin-right: 0px;
    border-radius: 1rem 0rem 0rem 1rem;
}

#network.disconnected {
    color: #ed8796;
}

#backlight {
    color: #91d7e3;
    border-radius: 0px;
    margin: 2px 0px 0px 0px;
}

#pulseaudio {
    color: #f5a97f;
    border-radius: 0px;
    margin: 2px 0px 0px 0px;
}

#battery {
    color: #b7bdf8;
    border-radius: 0px;
    margin: 2px 0px 0px 0px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock {
  color: #a6da95;
  margin-left: 0px;
  border-radius: 0rem 1rem 1rem 0rem;
}
