@import url("colors.css");

* {
  margin: 0px;
  padding: 0px;
}

window.bar {
  color: @text;
}

button {
  background-image: none;
  box-shadow: none;

  margin: 0px 2px;
  padding: 0px 5px;
  border-color: transparent;
  color: @text;
}

button:active {
}

button:hover {
  color: @red;
}

label {
  font-family: 'FreeSans';
  font-weight: bold;
  font-size: 12pt;
}

.clock_box {
    background-color: @surface0;
    /* background: linear-gradient(to bottom, @dark-alpha, transparent); */
    color: @green;
    padding: 2px 8px;
    border-radius: 12px;
}

.systray_box {
    background-color: @surface0;
    padding: 2px 8px;
    border-radius: 12px;
}

.workspace_box {
    border-radius: 12px;
}

.workspace_box button.active {
  color: @peach;
  text-decoration: underline;
}

levelbar block,
highlight {
    /* min-height: 30px; */
}
